---
const services = [
  {
    title: "Hospedaje",
    description: "Ofrecemos cómodas habitaciones con vistas a la ciudad.",
    image: "/images/images_hotel/image1.webp",
    details: [
      "Cama King Size",
      "Wi-Fi gratuito",
      "Aire acondicionado",
      "TV por cable",
    ],
  },
  {
    title: "Desayuno",
    description: "Disfruta de un desayuno continental todas las mañanas.",
    image: "/images/images_hotel/image2.webp",
    details: ["Huevo", "Leche", "Pan", "Café"],
  },
  {
    title: "Venta de Boletos Turísticos",
    description: "Compra boletos para tours y actividades locales.",
    image: "/images/images_hotel/boletos.webp",
    details: ["Tours guiados", "Actividades de aventura", "Entradas a museos"],
  },
  {
    title: "Transporte Turístico",
    description:
      "Servicio de transporte turístico a varios lugares del valle del colca.",
    image: "/images/images_hotel/transporte.webp",
    details: [
      "Vehículos cómodos",
      "Conductores profesionales",
      "Servicio puntual",
    ],
  },
];
---

<section id="services" class="services-section py-8">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <h2
      class="text-3xl sm:text-4xl text-color-primary-shadow font-bold text-center mt-10 mb-12"
    >
      Nuestros Servicios
    </h2>
    <div class="space-y-16">
      {
        services.map((service, index) => (
          <div
            class={`flex flex-col md:flex-row items-center ${
              index % 2 === 0 ? "" : "md:flex-row-reverse"
            } space-y-8 md:space-y-0 md:space-x-6`}
          >
            <div class="w-full md:w-1/2 h-56 sm:h-72 lg:h-80 relative">
              <img
                src={service.image}
                alt={service.title}
                class="absolute inset-0 w-full h-full object-cover rounded-xl shadow-lg transform transition-transform duration-500 hover:scale-105"
              />
            </div>
            <div class="w-full md:w-1/2">
              <h3 class="text-2xl sm:text-3xl text-color-primary font-semibold mb-2">
                {service.title}
              </h3>
              <p class="text-base sm:text-lg font-medium text-gray-700 mb-4">
                {service.description}
              </p>
              <ul class="list-disc pl-5">
                {service.details.map((detail) => (
                  <li class="text-sm sm:text-base font-medium">{detail}</li>
                ))}
              </ul>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>

